[Desktop Entry]
Encoding=UTF-8
Name=Link to SEWordSim: A Software-Specific Word Similarity Database - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=Udl6OP23al8
Icon=text-html
