[Desktop Entry]
Type=Application
Exec="/home/vagrant/Desktop/Executable/launch_SE_WordSim.sh"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=launch_SE_WordSim.sh
Name=run_script
Comment[en_IN]=launch_SE_WordSim
Comment=launch_SE_WordSim
