[Desktop Entry]
Encoding=UTF-8
Name=Link to SEWordSim : How to launch - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=cP0TM3j02sc&feature=youtu.be
Icon=text-html
